doctype html
html(lang="en")
    head
        meta(charset = "UTF-8")
        title Movie list
    body

    a(href="/logout") logout
    img.logo(src="logo.png" height="50")

    block content
        div content
